{% extends "base.html" %}
{% load static %}

  <!-- Used the code from the Code Institute Project - Boutique Ado - and adjusted it for my own web application -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}


<!-- START Jumbotron. Code used from: https://www.youtube.com/watch?v=ZhTnOp-FpE0 -->

 <div class="jumbotron text-center">
     <div class="intro">
         <img src="https://bkawaiicreations.s3.eu-west-2.amazonaws.com/media/logo1.png">
         <h1>Kawaii Products</h1>    
         <br> 
        <!-- Used Bootstrap code from Boutique Ado project, get facemasks button -->
        <a href="{% url 'products' %}" class="get-now-button btn btn-lg rounded-0 text-uppercase py-3">GET IT NOW</a>
        <br>
  </div>
</div>


     <!-- Start: About -->
     <!-- Used code from the Blippo.com website -->

<section>
   <div style="background-color: white">
	<div class="container">
		<div style="padding-top: 80px; padding-bottom: 80px;" class="inner-container">

            <h2 class="homepage-headline" style="text-align: left;">About Bkawaii Creations</h2>
            <br>
			<p style="text-align: left; font-size: 16px; color: #474545; line-height: 23px;">I love creating handmade Kawaii Facemasks and Nailart! 
                    Since 2020 I’ve been starting these hobby’s and sending the message of wearing facemasks during the covid-19 pandemic. 
                    You can view my products in this online store, that I build myself as a junior software developer. I hope you enjoy my facemasks and nail art products!
                    <br>
                    <br>
                    <i> Stay Cute & Healthy </i>
                <br>
            <i> Sweetzia </i></p>
            </div>
            </div>
            </div>

        </section>

    <!-- END: About -->


<!-- START 'Most popular products'. Code used from blippo.com and https://www.w3schools.com/howto/howto_css_images_side_by_side.asp -->

<section>
   <div style="background-color: #f0ecff">
	<div class="container">
		<div style="padding-top: 80px; padding-bottom: 80px;" class="inner-container">
            <h2 class="homepage-headline" style="text-align: left;">Popular Products</h2>
    <br>
    <div class="row">
  <div class="column">
      <a href="{% url 'products' %}10/">
    <img src="https://bkawaiicreations.s3.eu-west-2.amazonaws.com/media/popular1.jpg" style="width:100%"></a>
  </div>
  <div class="column">
      <a href="{% url 'products' %}11/">
    <img src="https://bkawaiicreations.s3.eu-west-2.amazonaws.com/media/popular3.jpg" style="width:100%"></a>
  </div>
  <div class="column">
      <a href="{% url 'products' %}12/">
    <img src="https://bkawaiicreations.s3.eu-west-2.amazonaws.com/media/popular2.jpg" style="width:100%"></a>
  </div>
</div>
</div>
</div>
</div>
</section>



 <!-- START: FOOTER -->
 <!-- Code used from: https://codepen.io/scanfcode/pen/MEZPNd and blippo.com -->

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>Do you have a question? </h6>
            <p class="text-justify"> Please send me a message and I will reply within 3 business days. I also warmly welcome feedback, questions, suggestions, and ideas for improving my store services. Thank You! <br>
                    </p>
                    <div class="feature indent first">
			<span class="ic ic-letter ic-lg ib"></span>
            <p class="no-margin" style="padding-bottom: 0px; padding-top: 8px;">
                <b>E-Mail:</b> <a href="mailto:bkawaiicreations@gmail.com"> bkawaiicreations@gmail.com</a></p>
		</div>
          </div>


          <div class="col-xs-6 col-md-3">
            <h6>My Favorite Kawaii websites</h6>
            <ul class="footer-links">
              <li><a href="https://www.blippo.com/" target="_blank">Blippo</a></li>
              <li><a href="https://www.kawaiibox.com/" target="_blank">Kawaii Box</a></li>
              <li><a href="https://www.japancandystore.com/" target="_blank">Japan Candystore</a></li>
            </ul>
          </div>


          <div class="col-xs-6 col-md-3">
            <h6>Shipping & COVID-19</h6>
            <p class="text-justify"> I ship the orders to virtually every country in the world, but the delivery time may take longer, because of the covid pandemic.  
                </p>
                <span><i class="fas fa-star"></i> Please remember to contact me before returning any items.
                    </span>

          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright Marjolein van Leeuwen &copy; 
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="https://nl-nl.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="https://twitter.com/?lang=nl" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a class="instagram" href="https://www.instagram.com/bkawaiicreations/" target="_blank"><i class="fab fa-instagram"></i></a></li>
              <li><a class="etsy" href="https://www.etsy.com" target="_blank"><i class="fab fa-etsy"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>
      <!--END: FOOTER-->


      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

{% endblock %}

