html {
    height: 100%;
}

body {
    background: white;
    background-size: cover;
    height: calc(100vh - 200px);
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#topnav {
   background: url('/media/navbar.png');
}

.carousel-inner {
    opacity: 0.85;
}

/* Customer reviews. Used code from https://www.w3schools.com/howto/howto_css_testimonials.asp and Code from the youtube tutorial from Traversy Media about creating a basic parallax website with HTML and CSS.*/

.section-white {
    background-color: white;
    background-size: cover;
    height: calc(80vh - 200px);
    color: black;
    font-family: 'Montserrat', sans-serif;
     margin: 70px;
     text-align: center;
     padding-bottom: 20px;
}


/* From Bulma CSS framework used in the Code Institute Project. Adjusted the code for my own web application. */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.get-now-button {
    background: #b19cd9;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: #b19cd9;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #b19cd9;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}