
html {
    height: 100%;
}

body {
    background: white;
    background-size: cover;
    height: calc(100vh - 200px);
    color:#474545;
    font-family: 'Quicksand', sans-serif;
}

#topnav {
   background: url('/media/navbar.png');
   background-size: cover;

}

.jumbotron {
    background-image: url('/media/background1.png');
    height: 102vh;
    background-size: cover;
    background-position: center;
    color: #474545;
    border-radius: 0px!important;
    padding-top: 2em;
}

.jumbotron h1 {
    font-family: 'Pacifico', cursive;
    font-size: 500%;
    text-shadow: 0 0 5px #ffd1dc;
    font-size: 3em;
    
}

.homepage-headline {
font-weight: 600;
}

.w-100 {
    width: 106%!important;
    background: white;
    position: sticky;
    background-size: cover;
    margin-left: -1em;
}



/* From Bulma CSS framework used in the Code Institute Project. Adjusted the code for my own web application. */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.get-now-button {
    background: #b19cd9;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: #b19cd9;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #b19cd9;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #b19cd9;
    color: white;
}

/* update and remove button in shoppingbag */
.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.text-black {
    color:#474545 !important;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
	height: 100%; 
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* Hover on categories button */
a.category-badge > span.badge:hover {
    background: #b19cd9 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link, .update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: black;
}

.password-reset {
    margin-top: 10px;
    margin-left: 20px;
}

/*  bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999; /* hogh Z-index so its always on top off everything else */
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap CSS */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: pink !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #b19cd9;
    border-color: #b19cd9;
}

.allauth-form-inner-content a {
    color: #000; /* text-info */
    font-weight: bold;
}


/* Footer code from https://codepen.io/scanfcode/pen/MEZPNd */
/* Adjusted this code for my own web application */

.site-footer
{
  background-color:white;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#474545;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#474545;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:black !important;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
  
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#ea4c89;
  font-weight: bold;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#b19cd9
}
.copyright-text
{
  margin:0
}


/* Three image containers */
.column {
  float: left;
  width: 33%;
  padding: 10px;;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*  Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1024px) {
  .container {
    max-width: 85%;
  }
    
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 140px;
    }

}

/* Ipad media query */
@media (min-width:767px) and (max-width:1024px){
  .jumbotron {
    background-image: url('/media/background1.png');
    height: 110vh;
    background-size: cover;
    background-position: center;
    color: #474545;
    border-radius: 0px!important;
    padding-top: 7em;
}
}

/* Iphone X */
@media (min-width:375px) and (max-width:812px){
  .jumbotron {
    height: 77vh;
}
}

/* Ipad pro and larger devices*/
@media (min-width:1024px) and (max-width:1800px){
  .jumbotron {
    height: 100vh;
}
}

/* Surface Duo */
@media (min-width:540px) and (max-width:720px){
  .jumbotron {
    height: 107vh;
    padding-top: 8em;
}
}

@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:white;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.etsy:hover
{
  background-color:orange
}
.social-icons a.instagram:hover
{
  background-color:#ea4c89
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
  
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* Responsive layout - makes the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
body {
    background: white;
    width: fit-content;
}

}

/*Code Institute - Boutique Ado project - Used code and adjusted to my own project. */

@media (max-width: 500px) {
    .header-container {
        padding-top: 80px;
    }

    .w-100 {
        width: 110%!important;
        background: white;
        position: sticky;
        background-size: cover;
        margin-left: -1em;
    }

    body {
        height: calc(100vh - 120px);
    }

    .display-4.logo-font.text-black {
        font-size: 1,5rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}


