<!-- Used the code from the Code Institute Project - Boutique Ado - and adjusted it for my own web application. It includes Bootstrap code -->

<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}">Home</a>
                </li>
                
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
<!--Sort the products by price, rating and category-->
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=asc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
 <!-- Show all the products-->               
                <a href="{% url 'products' %}?category=hello_kitty_facemask,kawaii_facemask,press_on_nails,nailart_palettes" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="facemasks-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Facemasks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="facemasks-link">
                <a href="{% url 'products' %}?category=hello_kitty_facemask" class="dropdown-item">Hello Kitty</a>
                <a href="{% url 'products' %}?category=kawaii_facemask" class="dropdown-item">Kawaii</a>
                <a href="{% url 'products' %}?category=hello_kitty_facemask,kawaii_facemask" class="dropdown-item">All Facemasks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="Nailart-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nail Art
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Nailart-link">
                <a href="{% url 'products' %}?category=press_on_nails" class="dropdown-item">Press-on Nails</a>
                <a href="{% url 'products' %}?category=nailart_palettes" class="dropdown-item">Nail Art Palletes</a>
                <a href="{% url 'products' %}?category=press_on_nails,nailart_palettes" class="dropdown-item">All Nail Art Products</a>
            </div>
        </li>
    </ul>
</div>