<!-- Used the code from the Code Institute Project - Boutique Ado  -->

{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Product Management</h2>
                <h5 class="text-muted">Add a Product</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-black rounded-0" type="submit">Add Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>

<!-- START: FOOTER -->
 <!-- https://codepen.io/scanfcode/pen/MEZPNd -->
  <!-- https://blippo.com -->

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>Do you have a question? </h6>
            <p class="text-justify"> Please send me a message and I will reply within 3 business days. I also warmly welcome feedback, questions, suggestions, and ideas for improving my store services. Thank You! <br>
                    </p>
                    <div class="feature indent first">
			<span class="ic ic-letter ic-lg ib"></span>
            <p class="no-margin" style="padding-bottom: 0px; padding-top: 8px;">
                <b>E-Mail:</b> <a href="mailto:bkawaiicreations@gmail.com"> bkawaiicreations@gmail.com</a></p>
		</div>
          </div>


          <div class="col-xs-6 col-md-3">
            <h6>Check My Favorite Kawaii websites</h6>
            <ul class="footer-links">
              <li><a href="https://www.blippo.com/" target="_blank">Blippo</a></li>
              <li><a href="https://www.kawaiibox.com/" target="_blank">Kawaii Box</a></li>
              <li><a href="https://www.japancandystore.com/" target="_blank">Japan Candystore</a></li>
            </ul>
          </div>


          <div class="col-xs-6 col-md-3">
            <h6>Shipping & COVID-19</h6>
            <p class="text-justify"> I ship the orders to virtually every country in the world, but the delivery time may take longer, because of the covid pandemic.  
                </p>
                <span><i class="fas fa-star"></i> Please remember to contact me before returning any items.
                    </span>

          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright Marjolein van Leeuwen &copy; 
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="https://nl-nl.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="https://twitter.com/?lang=nl" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a class="instagram" href="https://www.instagram.com/bkawaiicreations/" target="_blank"><i class="fab fa-instagram"></i></a></li>
              <li><a class="etsy" href="https://www.etsy.com" target="_blank"><i class="fab fa-etsy"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>
      <!--END: FOOTER-->

{% endblock %}