<!-- Used the code from the Code Institute Project - Boutique Ado - and adjusted it for my own web application. 
    It comes from Bootstrap documentation. -->

{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Created an overlay-->
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Products</h2>
                <!-- Customized Bootstrap badges-->
                 {% for c in current_categories %}
                    <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
                <hr class="w-50 mb-1">
            </div>
        </div>
         <!-- Start sort select box-->
                <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            </select>
                        </div>
                    </div>
                                         <!-- Product count and search results-->
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <!-- The card is divided into a top, a body and a footer-->
                            <div class="card h-100 border-0">
                                <!-- Top: creates a product image-->
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <!-- Body: containes the product name -->
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ product.name }}</p>
                                </div>
                                <!-- Card footer: contains the price and rating-->
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>

                                        <!-- Category link, render the product category out using its friendly name as the text-->
                                            {% if product.category %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                                </a>
                                            </p>
                                            {% endif %}


                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                            <!-- Superuser is able to edit and delete products in the product admin-->
                                            {% if request.user.is_superuser %}
                                                <small class="ml-3">
                                                    <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                                </small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Horizontal rule displaying. Learned this code from the Code Institute Project - Boutique Ado. 
                            It has build in django template tags.-->
                        {% if forloop.counter|divisibleby:1 %}
                        <!-- Extra small screens-->
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                        <!-- Small screens-->
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                         <!-- Large screens-->
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                           <!-- X-large screens-->
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
 </div>
            </div>
        </div>
    </div>

<!-- START: FOOTER -->
 <!-- https://codepen.io/scanfcode/pen/MEZPNd -->
  <!-- https://blippo.com -->

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>Do you have a question? </h6>
            <p class="text-justify"> Please send me a message and I will reply within 3 business days. I also warmly welcome feedback, questions, suggestions, and ideas for improving my store services. Thank You! <br>
                    </p>
                    <div class="feature indent first">
			<span class="ic ic-letter ic-lg ib"></span>
            <p class="no-margin" style="padding-bottom: 0px; padding-top: 8px;">
                <b>E-Mail:</b> <a href="mailto:bkawaiicreations@gmail.com"> bkawaiicreations@gmail.com</a></p>
		</div>
          </div>


          <div class="col-xs-6 col-md-3">
            <h6>Check My Favorite Kawaii websites</h6>
            <ul class="footer-links">
              <li><a href="https://www.blippo.com/" target="_blank">Blippo</a></li>
              <li><a href="https://www.kawaiibox.com/" target="_blank">Kawaii Box</a></li>
              <li><a href="https://www.japancandystore.com/" target="_blank">Japan Candystore</a></li>
            </ul>
          </div>


          <div class="col-xs-6 col-md-3">
            <h6>Shipping & COVID-19</h6>
            <p class="text-justify"> I ship the orders to virtually every country in the world, but the delivery time may take longer, because of the covid pandemic.  
                </p>
                <span><i class="fas fa-star"></i> Please remember to contact me before returning any items.
                    </span>

          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright Marjolein van Leeuwen &copy; 
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="https://nl-nl.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="https://twitter.com/?lang=nl" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a class="instagram" href="https://www.instagram.com/bkawaiicreations/" target="_blank"><i class="fab fa-instagram"></i></a></li>
              <li><a class="etsy" href="https://www.etsy.com" target="_blank"><i class="fab fa-etsy"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>
      <!--END: FOOTER-->

     <!-- Back to top button  -->
    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>

    
{% endblock %}

    <!-- Jquery code. Used this code from the Code Institute Project - Boutique Ado-->
    <!-- With the JS code the sorting select box works -->

{% block postloadjs %}
   <!-- Using block.super will ensure we append this code to anything already in the block as apposed to replacing it -->
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
     <!-- Using URL object will give nice functionality to replace the current get parameters -->
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}